@import '@shared/theme/colors.scss';
.allocations-container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;

    .allocations-head {
        padding: 40px 0 30px;
        border-bottom: 1px solid $neutrals-100;
        font-size: 24px;
        line-height: 28px;
        color: $neutrals-400;
        margin: 0 0 40px;
        &.no-border {
            border: none;
            margin: 0;
        }
        .d-inline {
            display: inline-block;
            vertical-align: top;
        }
        .back-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 32px;
            line-height: 36px;
            font-weight: 600;
            color: $neutrals-600;
            span {
                padding: 0 0 0 10px;
            }
        }
        h2{
            font-size: 40px;
            line-height: 48px;
            font-weight: 700;
            color: $neutrals-600;
            margin: 0 0 15px;
        }
        p {
            margin: 0;
        }
    }
    h2.h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        margin: 0 0 28px;
    }
}
.inov-block {
    display: flex;
    border: 1px solid $neutrals-100;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 0 50px;
    color: $neutrals-500;
    box-shadow: 0 0 8px 1px rgba($core-black, .15);
    .col {
        width: 100%;
        &.img {
            position: relative;
            min-height: 100px;
            .tag {
                position: absolute;
                left: 20px;
                top: 20px;
                padding: 5px 16px;
                border-radius: 16px;
                font-size: 18px;
                line-height: 24px;
                background: $white-100;
                z-index: 1;
                &.pending {
                    background: $pending-bg;
                    color: $pending-color;
                }
                &.progress {
                    background: $blues-100;
                    color: #2C5694;
                }
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.info {
            padding: 40px;
            font-size: 18px;
            line-height: 24px;
            .info-text {
                color: $neutrals-400;
                margin: 0 0 30px;
            }
            p {
                margin: 0 0 30px;
            }
            .h3 {
                font-size: 24px;
                line-height: 28px;
                font-weight: 600;
                margin: 0 0 12px;
            }
            .bottom-info {
                border-top: 1px solid $neutrals-100;
                margin: 30px 0 0;
                padding: 30px 0 0;
                .data, .sessions {
                    margin: 0 0 15px;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 500;
                    color: $neutrals-500;
                    svg {
                        margin: 0 8px 0 0;
                    }
                }
            }
            .price {
                display: block;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
            }
            .progress-bar {
                padding: 10px 0 0 33px;
            }
            .btn-holder {
                display: flex;
                align-items: center;
                margin: 0 -8px;
                padding: 10px 0 0;
                a {
                    display: block;
                    margin: 0 8px;
                    width: calc(50% - 16px);
                }
            }
        }
    }
}
.pre-allo-blocks {
    margin: 0 -20px;
    display: flex;
    .col {
        display: flex;
        align-items: center;
        width: calc(50% - 40px);
        margin: 0 20px 40px;
        border: 1px solid $neutrals-100;
        border-radius: 24px;
        padding: 32px;
        .img-col {
            width: 182px;
            img {
                border-radius: 16px;
                display: block;
                width: 100%;
            }
        }
        .info-col {
            padding: 0 0 0 32px;
            width: calc(100% - 182px);
            font-size: 18px;
            line-height: 24px;
            color: $neutrals-400;
            h3 {
                font-weight: 600;
                font-size: 22px;
                line-height: 28px;
                color: $neutrals-500;
                margin: 0 0 5px;
            }
            .by, .date, .session {
                display: block;
                margin: 0 0 15px;
            }
            .date {
                margin: 0 0 5px;
            }
            .tag {
                display: inline-block;
                vertical-align: top;
                padding: 6px 16px;
                border-radius: 16px;
                font-size: 14px;
                line-height: 18px;
                background: $white-100;
                font-weight: 500;
                &.complete {
                    background: #E2FAE5;
                    color: #162E19;
                }
                &.declined {
                    background: #FFE0E1;
                    color: #993D40;
                }
            }
            .price {
                display: block;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}
.allocations-footer {
    border-top: 1px solid $neutrals-100;
    padding: 40px 0;
    font-size: 18px;
    line-height: 24px;
    color: $neutrals-500;
    a {
        text-decoration: underline;
        font-weight: 600;
        color: $neutrals-500;
    }
}
.allocations-detail-block {
    margin: 0 auto 20px;
    max-width: 1050px;
    border: 1px solid $neutrals-100;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 8px 1px rgba($core-black, .15);
    .detail-banner {
        position: relative;
        min-height: 480px;
        overflow: hidden;
        padding: 35px;
        position: relative;
        color: $white-100;
        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            margin: 0 0 15px;
        }
        .text {
            display: block;
            font-size: 24px;
            line-height: 28px;
            margin: 0 0 15px;
        }
        .tag {
            display: inline-block;
            vertical-align: top;
            padding: 3px 16px;
            border-radius: 16px;
            font-size: 18px;
            line-height: 24px;
            background: $white-100;
            font-weight: 500;
            &.complete {
                background: #E2FAE5;
                color: #162E19;
            }
            &.pending {
                background:#FFFAEB;
                color: #B54708;
            }
            &.inprogress {
                color: #2C5694;
                background: $blues-100;
            }
        }
        .social-link {
            list-style: none;
            display: flex;
            justify-content: end;
            li {
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                margin: 0 0 20px 20px;
                a {
                    color: $white-100;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    &.active {
                        .ico {
                            background: $brand-yellow;
                            svg {
                                path {
                                    stroke: $white-100;
                                    fill: $white-100;
                                }
                            }
                        }
                    }
                    .ico {
                        display: block;
                        width: 24px;
                        height: 24px;
                        background-color: $white-100;
                        border-radius: 50%;
                        text-align: center;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
    .allocations-detail-content {
        padding:0 35px 35px;
    }
    .head-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: $neutrals-500;
        padding: 40px 0;
        .date, .sessions, .created {
            display: flex;
            align-items: center;
            svg {
                margin: 0 10px 0 0;
            }
        }
        .progress-bar {
            min-width: 30%;
        }
    }
    .content-block {
        padding: 40px 0;
        border-top: 1px solid $neutrals-100;
        font-size: 16px;
        line-height: 19px;
        color: $neutrals-400;
        h2{
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 0 32px;
            color: $neutrals-500;
        }
        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            margin: 0 0 20px;
            color: $neutrals-500;
        }
        p {
            margin: 0 0 10px;
            &:last-child {
                margin: 0;
            }
        }
        ul  {
            li {
                margin: 0 0 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .link {
            text-decoration: none;
            display: flex;
            align-items: center;
            position: relative;
            color: $neutrals-400;
            .arrow {
                position: absolute;
                right: 0;
                top: 50%;
                margin: -10px 0 0;
            }
            .info {
                padding: 0 0 0 25px;
                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: $neutrals-500;
                    margin: 0 0 8px;
                }
            }
        }
    }
    .host-detail-content {
        padding: 40px 50px 40px 60px;
        border: 1px solid $neutrals-100;
        border-radius: 16px;
        display: flex;
        align-items: center;
        .host-info-block {
            display: flex;
            width: 50%;
            align-items: center;
            .img-holder {
                width: 80px;
                min-width: 80px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                padding: 0 0 0 18px;
                h3  {
                    font-size: 24px;
                    line-height: 28px;
                    color: $neutrals-500;
                    font-weight: 600;
                    margin: 0 0 8px;
                }
                .host {
                    display: block;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 500;
                    color: $neutrals-400;
                }
            }
        }
        .host-info-detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            .numbering {
                padding: 0 10px;
                h4  {
                    font-size: 24px;
                    line-height: 28px;
                    color: $neutrals-500;
                    font-weight: 600;
                    margin: 0 0 8px;
                    display: flex;
                    align-items: center;
                    svg {
                        margin: 0 0 0 15px;
                    }
                }
                .text {
                    display: block;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 500;
                    color: $neutrals-400;
                }
            }
        }
    }
}
.allocations-payment-block {
    margin: 20px auto;
    max-width: 732px;
    .payment-info-block {
        border: 1px solid $neutrals-100;
        border-radius: 16px;
        padding: 40px;
        box-shadow: 0 0 8px 1px rgba($core-black, .15);
    }
    .lesson-info {
        display: flex;
        padding: 0 0 32px;
        border-bottom: 1px solid $neutrals-100;
        margin: 0 0 32px;
        .img-holder {
            width: 310px;
            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 8px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0 15px 0 0;
            width: calc(100% - 310px);
            color: $neutrals-500;
            font-size: 18px;
            line-height: 21px;
            .head {
                h2 {
                    margin: 0 0 10px;
                    font-size: 28px;
                    line-height: 33px;
                    font-weight: 600;
                    color: $neutrals-600;
                }
                .text {
                    margin: 0 0 10px;
                }
            }
            .footer {
                .data, .sessions {
                    display: flex;
                    align-items: center;
                    margin: 0 0 10px;
                    span {
                        padding: 0 0 0 10px;
                    }
                }
                .sessions {
                    margin: 0;
                }
            }
        }
    }
    .price-break-down {
        border-bottom: 1px solid $neutrals-100;
        padding: 0 0 32px;
        color: $neutrals-500;
        font-size: 18px;
        line-height: 22px;
        h2 {
            margin: 0 0 10px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
        }
        dl {
            display: flex;
            flex-wrap: wrap;
            dt, dd {
                width: 50%;
                font-weight: normal;
                padding: 0 0 10px;
            }
            dd {
                text-align: right;
                font-weight: 600;
            }
        }
        .link {
            font-weight: 600;
            display: block;
            margin: 0 0 24px;
            a {
                color: $neutrals-500;
                text-decoration: underline;
            }
        }
        .promo {
            border: 1px solid $blues-500;
            border-radius: 8px;
            display: flex;
            align-items: center;
            padding: 14px 12px;
            .btn {
                padding: 0;
                border: none;
                background: none;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: $blues-500;
                cursor: pointer;
            }
            input[type="text"] {
                background: none;
                border: none;
                line-height: 20px;
                font-size: 14px;
                color: $neutrals-500;
                width: calc(100% - 57px);
                margin: 0 10px 0 0;
                outline: none;
            }
        }
    }
    dl.total {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 0 0;
        dt, dd {
            width: 50%;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
        }
        dd {
            text-align: right;
        }
    }
}
.payment-method-block {
    padding: 40px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $neutrals-500;
    p {
        margin: 0 0 25px;
        a {
            color: $neutrals-500;
        }
    }
    .btn-gray {
        display: block;
        margin: 0 0 25px;
    }
    .divider {
        margin: 0 auto 25px;
        max-width: 350px;
        position: relative;
        text-align: center;
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border-top: 1px solid $neutrals-100;
            content: "";
        }
        span {
            display: inline-block;
            vertical-align: top;
            position: relative;
            z-index: 1;
            background: $white-100;
            padding: 0 15px;
            font-size: 18px;
            line-height: 22px;
            color: $neutrals-400;
        }
    }
}
.card-payment-form {
    label  {
        font-size: 18px;
        margin: 0 0 10px;
        display: inline-block;
        vertical-align: top;
    }
    .btn-primary {
        display: block;
        width: 100%;
    }
    .input-holder {
        input {
            border: 1px solid $neutrals-100;
            border-radius: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $neutrals-500;
            padding: 15px 16px;
            width: 100%;
        }
    }
    .form-holder {
        margin: 0 0 25px;
    }
    .form-row {
        margin: 0 -10px 25px;
        display: flex;
        .form-holder {
            width: calc(25% - 20px);
            margin: 0  10px;
            &:first-child {
                width: calc(50% - 20px);
                .input-holder {
                    position: relative;
                    input {
                        padding-right: 70px;
                    }
                    img {
                        position: absolute;
                        right: 16px;
                        top: 50%;
                        margin: -8px 0 0;
                    }
                }
            }
        }
    }
}
.session-tabs {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    li  {
        a {
            display: block;
            padding: 0 36px 10px;
            border-bottom: 2px solid transparent;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: $neutrals-500;
            text-decoration: none;
            &:hover {
                color: $brand-yellow-100;
            }
        }
        &.active{
            a {
                color: $brand-yellow-100;
                border-color: $brand-yellow-100;
            }
        }
    }
}
.session-list {
    .session {
        border-radius: 8px;
        border: 1px solid $neutrals-100;
        padding: 18px 16px;
        color: $neutrals-500;
        margin: 0 0 18px;
        &:last-child {
            margin: 0;
        }
        &.done{
            border-color: $icon-bg-grey;
        }
        &.upcoming {
            box-shadow: 0 0 4px 0 rgba($brand-yellow-100, .76);
        }
        .upcoming-text  {
            color: $blues-500;
            font-size: 12px;
            line-height: 18px;
            display: block;
            margin: 0 0 12px;
        }
        h3 {
            font-size: 22px;
            line-height: 28px;
            font-weight: 700;
            margin: 0 0 6px;
        }
        .session-time {
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            .dot {
                padding: 0 10px;
            }
        }
    }
}
.sticky-header  {
    position: sticky;
    top: 0;
    box-shadow: 0 0 8px 1px rgba($core-black, .15);
    background: $white-100;
    z-index: 9;
    .head-container {
        max-width: 1400px;
        padding: 40px 15px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: $neutrals-500;
        h1 {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
        }
        .date, .sessions, .created {
            display: flex;
            align-items: center;
            svg {
                margin: 0 10px 0 0;
            }
        }
    }
}