@import "@shared/theme/colors.scss";

.updatePasswordform {
    display: flex;
    gap: 40px;
    flex-direction: column;

    .form-gap {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .submit {
        height: 50px;
        width: 100%;
        background: $primary-500;
        border-radius: 40px;
        border: none;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;

        span {
            color: $neutrals-500;
            font-size: 14px;
            font-weight: 600;
        }

        &:hover {
            background: $neutrals-600 !important;

        }
    }

}

.roundedFieldContainer {

    display: flex;
    gap: 20px;
    flex-direction: column;

    .label {
        color: $neutrals-500;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .roundedField {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $white-100;
        border-radius: 40px;
        border: 1px #D9D9D9 solid;
    }
}