@import '@shared/theme/colors.scss';

.cancelModal {

  .content {
    font-weight: 500;
    font-size: 18px;
    color: $neutrals-400;
    margin-bottom: 15px;
  }

  .normal, .red {
    height: 50px;
    border: 1px solid $neutrals-500;
    color: $neutrals-500;
    border-radius: 200px;
    padding: 14px 10px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
  }

  .red {
    background-color: $reds-500;
    color: #fff;
    border: none;
  }
}

.cancelTitle {
  font-weight: 600;
  font-size: 24px;
  color: $neutrals-600;
}