.carouselSwiper {
  border-radius: 1.5rem;
  .swiper-pagination {
    bottom: 24px;
    text-align: right;
    padding-right: 24px;
  }
  .swiper-pagination-bullet {
    margin-right: 16px !important;
    width: 14px;
    height: 14px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
  .swiper-pagination-bullet-active {
    background-color: #a37b7b;
  }
}
