.cardContainer {
    padding: 20px;
  }
  
  .cardContainer .ant-card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .swiper-custom-pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4a8ff7;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .swiper-custom-pagination button.active {
    background-color: #336dbf;
  }
  
  .swiper-custom-pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  