@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Primary

$white-100: #fff;
$white-200: #F7F7F7;
$reds-500: #FF666B;
$reds-600: #CC5256;
$reds-700: #993D40;
$reds-800: #66292B;
$reds-100: #FFE0E180;
$error-700: #B42318;
$blues-500: #4A8FF7;
$blues-100: #DBE9FD;
$secondary-yellow: #F7C76B33;
$core-black: #000;
$primary-100: #FDF1DA;
$primary-200: #FBE3B5;
$primary-400: #F5B946;
$primary-500: #FFB300;
$icon-bg-grey: #F5F7FA;
$success-700: #027A48;

//Secondaruy
$secondary-500: #4793F5;
$secondary-100: #DAE9FD;

// Neutrals
$neutrals-100: #D5D9DC;
$neutrals-200: #707070;
$neutrals-300: #808C96;
$neutrals-400: #566573;
$neutrals-500: #2C3F50;
$neutrals-600: #233240;
$neutrals-700: #1A2630;
$neutrals-800: #222;
$light-neutrals-100: #808C96;
$light-neutrals-200: #D9D9D9;
$light-neutrals-300: #F5F7FA;
$light-neutrals-400: #ABB2B9;

$pending-color: #B54708;
$pending-bg: #FFFAEB;
$inter: "Inter", sans-serif;

$brand-yellow: #FFB300;
$brand-yellow-100: #F5B946;
$greens-900: #162E19;
$greens-100: #E2FAE5;
$greens-500: #027A48;
$greens-200: #ECFDF3;


//screens
$w-screen: 1200px;
$d-screen: 992px;
$t-screen: 768px;
