@import "@shared/theme/colors.scss";

.createPasswordform {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 700px;

    .form-gap {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .submit {
        height: 56px;
        width: 212px;
        background: $neutrals-500;
        border-radius: 40px;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;

        span {
            color: $white-100;
            font-size: 20px;
            font-weight: 600;
        }

        &:hover {
            background: $neutrals-600 !important;

        }
    }

}