@import '@shared/theme/colors.scss';

.bookingCard {
  border-radius: 15px;
  background-color: $icon-bg-grey;
  margin-bottom: 10px;

  .header {
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: $neutrals-400;
  }

  .card {
    border: 1px solid $neutrals-100;
    margin: 20px 60px;
    border-radius: 15px;
    background-color: #FFF;
  
    .details {
      padding: 10px 20px;
      box-shadow: none !important;
    }
  
    .title {
      font-size: 18px;
      font-weight: 600;
      color: $neutrals-500;      
    }
  
    .secondary, .attributesText {
      font-weight: 400;
      font-size: 16px;
      color: $neutrals-500;      
    }
  
  
    .attributesText {
      font-weight: 500;
    }

    .strike {
      text-decoration: line-through;
    }
  
    .success, .failure, .upcoming {
      color: $greens-900;
      padding: 5px;
      font-size: 18px;
      font-weight: 500;
      background-color: $greens-100;
      border-radius: 15px;
    }
  
    .failure {
      color: $reds-800;
      background-color: $reds-100;
    }

    .imageHolder {
      position: relative;
    }
  
    .left {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  
      
    .img {
      width: 100%;
      height: 280px;
      min-height: 100%;
      overflow: hidden;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}