@import '@shared/theme/colors.scss';


.container {
    padding: 40px;

    .contentContainer {
        margin: 44px 0;
        display: flex;
        flex-direction: column;

        .titleContainer {

            h2.title {
                color: $neutrals-600;
                font-size: 32px;
                font-weight: 700;
            }

            p.subTitle {
                color: $neutrals-300;
                font-size: 24px;
                font-weight: 500;
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
            margin-top: 60px;
            gap: 18px
        }
    }
}