@import '@shared/theme/colors.scss';

.attributes {
  position: relative;

  .icon {
    position: absolute;
    top: 5px;
  }

  .details {
    .title {
      font-weight: 400;
      font-size: 18px;
      color: $neutrals-400;
    }

    .info {
      color: $neutrals-600;
      font-size: 24px;
      font-weight: 600;
    }
  }
}
