@import '@shared/theme/colors.scss';

.container {
  padding: 20px;
  color: $neutrals-500;

  .backBtn {
    margin: 20px 0;
  }

  h1 {
    font-size: 22px;
    font-weight: 700;
  }

  .secondary {
    font-size: 14px;
    font-weight: 400;
    color: $neutrals-300;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .submit {
    margin-top: 15px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    background-color: $primary-500;
    border: none;
  }

  .verifyContent {
    .resendLink {
      text-decoration: underline;
      color: $primary-500;
      font-weight: bold;
    }

    .otpContainer {
      display: flex;
      justify-content: center;
    }
  }

  .passwordContent {
    margin-top: 30px;
  }

  .changedContent {
    margin-top: 150px;
    text-align: center;
  }
}
